// LAYOUT STYLES
// ------------------------------
// Prefix layout styles with `l-`
// to make the context clear

// Main container styles

.l-container {
  margin: 0 auto;
  max-width: $l-max-width;
  width: 90%;
  position: relative;
}

.l-section {
  margin-bottom: $default-whitespace;

  &--divided {
    padding-bottom: $default-whitespace;
    border-bottom: 1px solid $default-border-color;
  }
}

.read-guide {
  border-left: 8px solid rgba(0,0,0,0.05);
  padding-left: 40px;

  @include respond-to(em(700px), max-width) {
    border-left: 0;
    padding-left: 0;
  }
}

// Layout helpers

.l-left {
  float: left;
}

.l-right {
  float: right;
}
