// LAYOUT STYLES
// ------------------------------
// Prefix layout styles with `l-`
// to make the context clear

// Main container styles

.l-container {
  margin: 0 auto;
  max-width: $l-max-width;
  width: 90%;
  position: relative;
}

.l-section {
  padding-top: $default-whitespace * 3;
  padding-bottom: $default-whitespace * 3;

  &--divided {
    padding-bottom: $default-whitespace;
    border-bottom: 1px solid $default-border-color;
  }

  &--dark {
    background: #222;
    color: #fff;

    .secondary-headline {
      color: #fff;
    }
  }

  &--min-spaced {
    padding-top: em(60px);
    padding-bottom: em(60px);
  }

  &--spaced {
    padding-top: em(120px);
    padding-bottom: em(120px);
  }

  &__headline {
    font-size: em(24px);
    margin-bottom: em(48px, 24px);
  }
}

.read-guide {
  border-left: 8px solid rgba(0,0,0,0.05);
  padding-left: 40px;

  @include respond-to(em(700px), max-width) {
    border-left: 0;
    padding-left: 0;
  }
}

// Layout helpers

.l-left {
  float: left;
}

.l-right {
  float: right;
}
