<div class="footer">
  <div class="l-container">
    <ul class="footer__nav">
      {% for entry in craft.entries.section('navigation') %}
      <li><a href="{{ entry.relatedPage.first.url }}">{{ entry.title }}</a></li>
      {% endfor %}
    </ul>

    <p class="footer__copyright">Copyright &copy; 2016 Josh Walsh | <a rel="alternate" type="application/rss+xml" href="http://joshwalsh.com/feed.rss">RSS Feed</a></p>
  </div>
</div>

<script type="text/javascript">
	var trackcmp_email = '';
	var trackcmp = document.createElement("script");
	trackcmp.async = true;
	trackcmp.type = 'text/javascript';
	trackcmp.src = '//trackcmp.net/visit?actid=25324650&e='+encodeURIComponent(trackcmp_email)+'&r='+encodeURIComponent(document.referrer)+'&u='+encodeURIComponent(window.location.href);
	var trackcmp_s = document.getElementsByTagName("script");
	if (trackcmp_s.length) {
		trackcmp_s[0].parentNode.appendChild(trackcmp);
	} else {
		var trackcmp_h = document.getElementsByTagName("head");
		trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
	}
</script>
