<head>
	<meta charset="utf-8" />

	{% hook 'seomaticRender' %}

	<link rel="home" href="{{ siteUrl }}" />
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="/images/icon.png">

	<link rel="stylesheet" href="/css/styles.css" media="screen" title="Main Stylesheet" charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,900,400italic,700' rel='stylesheet' type='text/css'>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
