<head>
	<meta charset="utf-8" />

	{% hook 'seomaticRender' %}

	<link rel="home" href="{{ siteUrl }}" />
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="/images/icon.png">

	<link rel="alternate" type="application/rss+xml" href="http://joshwalsh.com/feed.rss" />

	<link rel="stylesheet" href="/css/styles.css" media="screen" title="Main Stylesheet" charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic%7CAlegreya:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
