<div class="paginate">
  <a href="{{ pageInfo.firstUrl }}">First Page</a>
  {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}" rel="prev">Previous Page</a>{% endif %}

  {% for page, url in pageInfo.getPrevUrls(5) %}
      <a href="{{ url }}">{{ page }}</a>
  {% endfor %}

  <span class="current">{{ pageInfo.currentPage }}</span>

  {% for page, url in pageInfo.getNextUrls(5) %}
      <a href="{{ url }}">{{ page }}</a>
  {% endfor %}

  {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}" rel="next">Next Page</a>{% endif %}
  <a href="{{ pageInfo.lastUrl }}">Last Page</a>
</div>
