<div class="mast mast-photo" style="background-image: url({{featuredImageURL}})">
  <div class="l-container">
    <ul class="mast__icons">
      <li class="mast__icons-twitter"><a href="http://twitter.com/joshwalsh"><img src="/images/twitter.svg" height="32"></a></li>
      <li class="mast__icons-facebook"><a href="http://www.facebook.com/JoshWalshcom"><img src="/images/facebook.svg" height="32"></a></li>
      <li class="mast__icons-home"><a href="/"><img src="/images/home.svg" height="32"></a></li>
    </ul>
  </div>

  <h1 class="mast__title">{{ entryTitle }}</h1>
  {% if subtitle %}<h2 class="mast__subtitle">{{ subtitle }}</h2>{% endif %}
</div>
