.primary-headline {
  font-family: $serif-font;
  font-size: em(42px, 16px);
  font-weight: 900;
  line-height: em(20px, 16px);
  letter-spacing: -1px;
  color: #333;
  margin: 0;
  padding: 0;

  a {
    color: #333;
    text-decoration: none;

    &:hover {
      border-bottom: 1px dashed #ccc;
    }
  }
}

.secondary-headline {
  font-family: $serif-font;
  font-size: em(24px, 16px);
  font-weight: 900;
  line-height: em(22px, 16px);
  color: #333;
  margin: 1.6em 0 0 0;
  padding: 0;
}

.byline {
  font-size: em(16px, 16px);
  border-bottom: 1px solid #eee;
  padding: em(16px, 16px) 0 em(16px, 16px) 0;
  margin: em(16px, 16px) 0 em(16px, 16px) 0;
  font-family: $sans-serif-font;
}

.section-headline {
  font-size: em(16px, 16px);
  color: #777;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: em(12px, 16px);
}
