{% extends "_article" %}

{% block content %}

<div class="l-container article-{{ entry.type }}">
  <div class="row">
    <div class="col-8 col-centered">
      <h2 class="byline"><em>By</em> {{ entry.relatedAuthor.first.title }} <em>in</em> {{ entry.relatedTopic.first.title }} <em>on</em> {{entry.postDate|date("M d, Y")}}</h2>

      {% include '_components/_body' with {
        'matrix': entry.body
      } %}

      {% if entry.type == 'linkPosts' %}
        <p><a href="{{ entry.externalURL}}" class="button">Read Full Story</a>
        <p class="fine-print">Source: {{ entry.externalAuthor}} at {{ entry.source }}</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
