.inline-mast {
  width: 40%;
  margin-right: 1em;
  float: left;
}

.byline {
  color: #000;
  font-size: em(14px, 16px);
  font-weight: normal;
  padding: em(0px, 16px) 0 em(16px, 16px) 0;
  margin: 0 0 em(16px, 16px) 0;
  font-family: $sans-serif-font;

  strong {
    font-size: em(16px, 14px);

    @include respond-to(em(700px)) {
      display: block;
    }
  }
}

.article-list-item {
  @include respond-to(em(700px)) {
    position: relative;

    .byline {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &.article-blogPosts {
    .byline {
      background: url(/images/blogPosts.svg) no-repeat left 10%;
      background-size: 26px;
      padding-left: 30px;
    }
  }
}
