.inline-mast {
  width: 40%;
  margin-right: 1em;
  float: left;
}

.article {
  &__content {
    font-size: em(22px);

    ul, ol {
      li {
        margin-bottom: 0.5em;
      }
    }

    p {
      position: relative;
    }

    @include respond-to(em(700px), max-width) {
      font-size: em(18px);
    }
  }
}

.article-list-item {
  @include respond-to(em(700px)) {
    position: relative;
  }

  .byline {
    font-family: $sans-serif-font;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: normal;
    font-size: em(14px, 16px);

    strong {
      display: block;
      font-weight: 400;
      font-size: em(16px, 14px);
    }

    a {
      text-decoration: none;

      &:hover {
        font-weight: bold;
      }
    }

    @include respond-to(em(700px), max-width) {
      position: relative;

      strong {
        display: inline;
      }
    }
  }
}
