.bookGallery {
  display: flex;
  flex-wrap: wrap;

  // Change this property to fit the needs of the design
  // For example, use 'space-around' to evenly distrubute
  // the tiles in the container.
  justify-content: flex-start;

  margin-left: -$condensed-whitespace;

  &__item {
    display: flex;
    flex-direction: column; // Fixes a display issue in IE10
    margin-bottom: $condensed-whitespace;
    padding-left: $condensed-whitespace;
    font-size: em(14px);

    .bookGallery__item__cover {
      min-width: 100%;
    }

    @include respond-to(em(500px), max-width) {
      width: percentage(1 / 2);
    }

    @include respond-to(em(500px)) {
      width: percentage(1 / 3);
    }

    @include respond-to(em(900px)) {
      width: percentage(1 / 4);
    }
  }
}
