.mast {
  width: 100%;
  background: #eee;
  text-align: center;
  z-index:1;
  position: relative;
  margin-bottom: em(32px, 16px);

  &-photo {
    background-size: cover;
    background-position: 50% 0%;
  }

  &__title {
    color: #fff;
    margin: 0;
    font-weight: 900;
    line-height: 1.2;
    font-size: 5vw;
    z-index: 10;
    position: relative;

    @include respond-to(em(500px), max-width) {
      padding: 30% 5% em(5px) 5%;
      font-size: 7vw;
    }

    @include respond-to(em(500px)) {
      padding: 25% 5% em(5px) 10%;
      font-size: 7vw;
    }

    @include respond-to(em(800px)) {
      padding: 20% 5% em(5px) 10%;
    }
  }

  &__subtitle {
    color: #efefef;
    font-weight: normal;
    font-size: 3vw;
    z-index: 10;
    position: relative;
    margin-bottom: 0;

    @include respond-to(em(500px), max-width) {
      padding: 0 15% 12% 15%;
      line-height: 1.2;
      font-size: 4vw;
    }

    @include respond-to(em(500px)) {
      padding: 0 5% 5% 5%;
      line-height: 1.2;
    }
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    z-index:5;
  }
}
