.mast {
  background: #222;
  color: #fff;
  width: 100%;
  text-align: center;
  z-index:1;
  position: relative;
  margin-bottom: em(32px, 16px);
  padding-bottom: em(22px, 16px);

  &__title {
    margin: 0;
    font-weight: 900;
    font-size: em(40px);
    padding-top: em(20px);
    line-height: 1.2;
    z-index: 10;
    position: relative;

  }

  &__subtitle {
    color: #efefef;
    font-weight: normal;
    font-size: 3vw;
    z-index: 10;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;

    @include respond-to(em(500px), max-width) {
      padding: 0 15% 12% 15%;
      line-height: 1.2;
      font-size: 4vw;
    }

    @include respond-to(em(500px)) {
      padding: 0 5% 5% 5%;
      line-height: 1.2;
    }
  }

  &-photo {
    background: #eee;
    background-size: cover;
    background-position: 50% 0%;
    color: #fff;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
      z-index:5;
    }

    .mast__title {
      font-size: 5vw;

      @include respond-to(em(500px), max-width) {
        padding: 30% 5% em(5px) 5%;
        font-size: 12vw;
      }
      @include respond-to(em(500px)) {
        padding: 25% 5% em(5px) 10%;
        font-size: 7vw;
      }

      @include respond-to(em(800px)) {
        padding: 20% 5% em(5px) 10%;
      }
    }
  }


}
