{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "404 - Page Not Found" %}

{% block content %}
<div class="mast">
  <div class="l-container">
    <h1 class="mast__title">
      Page Missing
    </h1>

    <div class="mast__summary">
      <p>The page you are looking for is no longer here...</p>
    </div>
  </div>
</div>

<div class="l-section l-section--spaced">
  <div class="l-container">
    <div class="l-section__headline txt-center">
      <h2 class="secondary-headline">Try looking here&hellip;</h2>
      <p>Our most important content is found in one of these tracks.</p>
    </div>

    <div class="categoryTiles-container">
      {% for topic in craft.categories.group('topics') %}
        <div class="categoryTiles__item">
          <a href="{{ topic.url }}" class="category" style="background: {{ topic.color }};">
            {% if topic.icon.first %}
              <img src="{{ topic.icon.first.url }}">
            {% endif %}

            <span class="category__title">{{ topic.title }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
